@section title {
	<h2>Categories</h2>
}
	<br/>
	<ul>
		<li>
			<a href="/categories/edit/1">Crop</a>
		</li>
		<li>
			<a href="/categories/edit/2">Livestock</a>
		</li>
		<li>
			<a href="/categories/edit/3">Equipment</a>
		</li>
		<li>
			<a href="/categories/edit/4">Education</a>
		</li>
	</ul>
	<p>
		Select a category
	</p>